<form class="search-box">
  <h2>Keresés</h2>
  <div class="form-group">
    <input type="text" name="search" value={{ query }} placeholder="Milyen hír érdekel?">
  </div>
  <div class="form-group">
    <label>Dátum szerint</label>
    <div class="inline">
      <input type="text" class="date-input" name="from" id="date-from" placeholder="Innentől" value={{from}} />
      <input type="text" class="date-input" name="to" id="date-to" placeholder="Idáig" value={{until}} />
    </div>
  </div>
  <button type="submit">hírek keresése</button>
  <a href="/">vissza a hírlista oldalra</a>
</form>
{{> articles }}
